<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login BendiCar</title>
		<style>
		.login-form {
			width: 320px;
			height: 230px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: dodgerblue;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		.login-background{
			font-family: arial;
			background: #ffffff;
			padding: 10px;
			box-shadow: 0px 0px 4px #222;
			border-radius: 3px;
			width: 350px;
			color: #999;
			height: auto;
			margin: 60px auto;
			text-align: center;
		}
		.img-logo{
			height: 100px;
			width: 100px;
		}
		a,a:hover,a:visited,a:active{
			text-decoration: none;
			color: dodgerblue;
			font-family: Verdana, Geneva, Tahoma, sans-serif;
		}
		</style>
	</head>
	<body>
		<div class="login-background">
     <div class="login-header">
     <img src="/public/src/assets/img/logo.png" class="img-logo">
    <p><strong><h3>Login - Bendi Car</h3></strong></p>
     
    </div>
		<div class="login-form">
			<form action="/auth" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit" value="Masuk">
			</form>
			 <p><a href="/register"><small>Belum punya akun? Daftar!</small></a></p>
		</div>
	</body>
</html>